.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    width: 15%;
    background-color: aqua;
}

input {
    display: block;
    float: right;
    width : 100px; 
}
